html:has(.dark-mode:checked) body {
  background-color: #222;
  color: #fff;
}

html:has(.dark-mode:checked) input[type="number"],
html:has(.dark-mode:checked) button {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

html:has(.dark-mode:checked) .second_screen {
  background-color: #222;
}

html:has(.dark-mode:checked) .rounds li .game p {
  color: #fff;
}

html:has(.dark-mode:checked) .rounds li .result input[type="number"],
html:has(.dark-mode:checked) .rounds li .result .bye {
  color: #fff;
  background-color: #222;
  border-color: #007bff;
}

html:has(.dark-mode:checked) .rounds .advance-button {
  background-color: #007bff;
  color: #fff;
}

html:has(.dark-mode:checked) .table th {
  background-color: #007bff;
  color: #fff;
}

html:has(.dark-mode:checked) .table tr:nth-child(even) {
  background-color: #444;
}

html:has(.dark-mode:checked) h2,
html:has(.dark-mode:checked) h1 {
  color: whitesmoke;
}

html:has(.dark-mode:checked) input[disabled] {
  background-color: #333;
  border: none;
}

html:has(.dark-mode:checked) .theme_selector {
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.2);
}
