html:has(.purple-mode:checked) body {
  background-color: #1a0b24;
  color: #fff;
}

html:has(.purple-mode:checked) input[type="number"],
html:has(.purple-mode:checked) button {
  background-color: #9134b8;
  color: #fff;
  border-color: #9134b8;
}

html:has(.purple-mode:checked) .second_screen {
  background-color: #1a0b24;
}

html:has(.purple-mode:checked) .rounds li .game p {
  color: #fff;
}

html:has(.purple-mode:checked) .rounds li .result input[type="number"],
html:has(.purple-mode:checked) .rounds li .result .bye {
  color: #fff;
  background-color: #1a0b24;
  border-color: #9134b8;
}

html:has(.purple-mode:checked) .rounds .advance-button,
html:has(.purple-mode:checked) .primary {
  background-color: #802fa2 !important;
  color: #fff;
}

html:has(.purple-mode:checked) .table th {
  background-color: #802fa2;
  color: #fff;
}

html:has(.purple-mode:checked) .table tr:nth-child(even) {
  background-color: #2b1c3e;
}

html:has(.purple-mode:checked) h2,
html:has(.purple-mode:checked) h1 {
  color: antiquewhite;
}

html:has(.purple-mode:checked) input[disabled] {
  border: none;
  background-color: #2b1c3e;
}

html:has(.purple-mode:checked) .theme_selector {
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.2);
}
