.purple_mode {
  background-color: #2b1c3e;
  color: #fff;
}

.purple_mode .first_screen {
  background-color: #1a0b24;
}

.purple_mode input[type="number"],
.purple_mode input[type="button"] {
  background-color: #9134b8;
  color: #fff;
  border-color: #9134b8;
}

.purple_mode .second_screen {
  background-color: #1a0b24;
}

.purple_mode .rounds li .game p {
  color: #fff;
}

.purple_mode .rounds li .result input[type="number"],
.purple_mode .rounds li .result .bye {
  color: #fff;
  background-color: #1a0b24;
  border-color: #9134b8;
}

.purple_mode .rounds .advance-button {
  background-color: #9134b8;
  color: #fff;
}

.purple_mode .table th {
  background-color: #9134b8;
  color: #fff;
}

.purple_mode .table tr:nth-child(even) {
  background-color: #2b1c3e;
}

.purple_mode h2,
.purple_mode h1 {
  color: antiquewhite;
}

.purple_mode input[disabled] {
  border: none;
  background-color: #2b1c3e;
}
